@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 80%;
    margin:auto;
}
i{
    vertical-align: middle;
}
 html {
    font-size: 10px;
}
a{
    text-decoration: none;
    color: #24262b;
}
ul{ 
    list-style-type: none;
}
header{
    background-color: #fef5ef;
}
img{
    display: block;
    width: 100%;
}
/* header  */
section.header-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hono-logo {
    width: 100px;
}

.hono-logo img {
    display: block;
    width: 100%;
}


.main-manu {
    flex: 1;
    text-align: center;
}
.main-manu >ul >li , .active-links >ul li {
    display:inline-block;
    padding: 30px 26px;
    position: relative;
}
.main-manu >ul >li a {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform:uppercase;
    transition:0.5s;
}
.main-manu >ul >li a:hover{
    color:#b19361;
}
.active-links ul li a {
    font-size: 2.2rem;
    font-weight: 100;
    position: relative;
}
.active-links ul li:last-of-type a{
    width: 50px;
    height:50px;
    border-radius: 50%;
    background-color: #f2e8e780;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}
.active-links >ul li {
    display:inline-block;
    padding: 30px 16px;
    position: relative;
}
.active-links ul li  span {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #b19361;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    line-height: 15px;
    top: 14px;
    left: 13px;
}

ul.sub-manu {
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    min-width: 200px;
    padding: 20px 25px;
    transform:perspective(500px) rotateX(-90deg);
    transform-origin: top;
    transition:.5s;
    text-align: justify;
}
.main-manu ul li:hover ul.sub-manu{
    transform: rotate(0deg);
}
ul.sub-manu li a {
    font-weight: normal;
    text-transform: none;
    display: block;
    padding: 6px 0px;
}

ul.sub-manu li a {
    font-weight: normal;
    text-transform: none;
    display: block;
    padding: 6px 0px;
    transition:0.5s;
}
ul.sub-manu li a:hover{
    transform: translatex(10px);
}
/* shop_div  */

.shop-hover {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 33px;
    width: 100%;

}

.shop-single ul li {
    padding: 5px 9px;
    display: block;
    font-size: 17px;
    font-weight: 700;
}
.shop-single ul li a{
        font-size: 14px;
        font-weight: 500;
        text-decoration:none;
        transition: 0.5s;
        display: block;
        line-height: 26px;
        text-transform: none;
}
.shop-single ul li a:hover{
    transform: translatex(10px);
    color: #b19361;
}
.shop-single {
    flex-basis: 25%;
    text-align: justify;
}

.hover-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
    transition: 0.5s;
}
.hover-title:hover{
    color: #b19361;
}
.shoper{
    width: 786px;
    margin: auto;
    position: absolute;
    left: -103px;
    top: 100%;
    background: #fff;
    padding: 20px 25px;
    transform:perspective(500px) rotateX(-90deg);
    transform-origin: top;
    transition:.5s;
}
.main-manu ul li:hover .shoper{
    transform: rotate(0deg);
}
.shop-img {
    width: 100%;
}

.shop-img img {
    display: block;
    width: 100%;
}
/* shop_div  */

/* header  */
/* hero section  */
.hero-section{
    background-image:url(../image/hero-slider-1.webp);
    background-size: cover;
    height: 700px;
    background-position: center;
} 
.hero-slider {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.content p {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.content h2 {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 65px;
}

.content a {
    display: inline-block;
    border: 1px solid #24262b;
    padding: 20px 30px;
    margin: 50px 0 0;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 5px;
}

.content a:hover {
    color: #b19361;
}

/* service section  */
section.service-section {
    margin: 100px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.services-box {
    flex-basis: 25%;
    text-align: center;
    padding: 20px 15px;
}

.image {
    width: 77px;
    margin: auto;
}

.image img {
    display: block;
    width: 100%;
}

.service-contant h2 {
    font-size: 1.6rem;
    margin: 18px 0px 15px;
}

.service-contant p {
    font-size: 1.3rem;
    color: #777;
    line-height: 22px;
}
/* service section  */

/* banner section  */

.banner_wrpaer {
    display: flex;
    gap: 20px;
}

.left-banner {
    width: 50%;
    position: relative;
}

.banner-right {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

section.banner-section {
    margin-bottom: 100px;
}
.banner-box {
    position: relative;
    overflow: hidden;
}

.banner-box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatey( -50%);
    width: 141px;
}

.banner-box-content h4 {
    font-size: 1.9rem;
    font-weight: 500;
}

.banner-box-content a {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    margin-top: 7px;
    transition:.4s;
}
.banner-box-content a:hover{
    color: #b19361;
}

.banner {
    width: 100%;
    display: block;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 258px;
    transform: translate(0%, -50%);
}

.banner-content h3 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1.1px;
}
.banner-content h4 {
    font-size: 1.7rem;
    font-weight: 300;
    margin: 10px 0px;
    margin-bottom: 30px;
}

.banner-content a {
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 6px;
    text-align: center;
}

.banner-box::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.banner-box::before {
    content: "";
    width: 100%;
    height:0%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.banner-box:hover::before{
    transition: 1s;
    opacity: 0;
    height: 100%;
}
.banner-box:hover::after{
    width: 100%;
    transition: 1s;
    opacity: 0;
}

.left-banner::after{
    content: "";
    width: 100%;
    height:0%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.left-banner:hover::after{
    height: 100%;
    transition: 1s;
    opacity: 0;
}
.left-banner::before{
    content: "";
    width: 0%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.left-banner:hover::before{
    width: 100%;
    transition: 1s;
    opacity: 0;
}
/* banner section  */

/* product section  */
.product-header h2 {
    font-size: 2.1rem;
}

.product-header p {
    font-size: 1.4rem;
    color: #777;
}

.product-header {
    margin-bottom: 20px;
}
.product-header h2 {
    font-size: 2.1rem;
}

.product-header p {
    font-size: 1.4rem;
    color: #777;
}

.product-header {
    margin-bottom: 20px;
}

.image-layer {
    display: flex;
    justify-content: space-around;
    background: #000;
    padding: 20px;
    position: absolute;
    bottom: -5%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.5s ease-out;
}
.product-img:hover .image-layer{
    bottom: 0%;
    opacity: 1;
}
.image-layer a {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2rem;
}
.product-img {
    position: relative;
    overflow: hidden;
}

.product-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.product-box {
    position: relative;
    flex-basis: 23%;
    margin-top: 18px;
}
.price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-layer h2 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0px 2px 0px;
}

.price-tag i {
    color: rgb(177, 147, 97);
}

.price-tag span:first-child {
    text-decoration: line-through;
}
.hover-difault {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.product-img:hover .hover-difault{
    opacity: 1;
}
/* product section  end*/


/* banner two section  */
.banner-two_img {
    width: 70%;
    margin: auto;
}

.banner-two-box {
    position: relative;
}

.bannerTwo_leyar {
    position: absolute;
    top: 33%;
    left: 60%;
    transform: translate(-50% , -50%);
    width: 32%;
    letter-spacing: 0.1rem;
}

.bannerTwo_leyar h2 {
    font-size: 3.8rem;
    margin: 0 0 9px;
    font-weight: 500;
}

.bannerTwo_leyar p {
    font-size: 1.6rem;
    margin: 10px 0px;
}

.bannerTwo_leyar a {
    border: 1px solid black;
    padding: 12px 30px;
    display: inline-block;
    margin: 0px 0px 10px;
    border-radius: 4px;
    font-size: 1.6rem;
}

.banner-two-box::after{
    content: "";
    width: 100%;
    height:0%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.banner-two-box:hover::after{
    height: 100%;
    transition: 1s;
    opacity: 0;
}
.banner-two-box::before{
    content: "";
    width: 0%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.banner-two-box:hover::before{
    width: 100%;
    transition: 1s;
    opacity: 0;
}

/* banner two section  */

/* produnct dufalt section  */
section.banner-section-Two {
    margin: 100px 0px;
}

section.product-section.product-defualt {
    background: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}
/* produnct dufalt section end  */

/* banner three section  */
.banner-three-wraper {
    display: flex;
}

.banner-three-box {
    flex-basis: 30%;
}
.banner-three-img::before{
    content: "";
    height: 0%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

}
 .banner-three-img:hover::before{
    height: 100%;
    transition: 1s;
    opacity: 0;
}
.banner-three-img::after{
    content: "";
    width: 0%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.banner-three-img:hover::after{
    width: 100%;
    transition: 1s;
    opacity: 0;
}
.banner-three-img {
    position: relative;
}

.banner-three-img img {
    width: 100%;
    display: block;
}

.banner-three-layer {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 22px;
}

.three-layer-content h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0px 0px 5px;
}

.three-layer-content p {
    letter-spacing: 3px;
    font-size: 1.4rem;
}

.three-layer-icon a {
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    font-size: 2.2rem;
    transition: 0.5s;
}
.banner-three-box:hover .three-layer-icon a{
    background-color: #b19361;
    color: white;
}
/* banner three section  */
